<div class="row">
	<div class="col-12 px-4">
		<%= content_for(:title, "Avaliação de " + @avaliacao_jogador.associado.nome) %>
		<%= render 'form', avaliacao_jogador: @avaliacao_jogador %>
	</div>
</div>
