<section>
	<div class="row">
		<div class="col-12 form-associado px-5">
			<h1 class="text-center text-success">
				Relatórios
			</h1>

			<%= link_to "Aniversários", relatorios_aniversario_path, class: "btn btn-primary" %>
			<%= link_to "Campanha", relatorios_campanha_path, class: "btn btn-primary" %>
			<%= link_to "Prato preferido", relatorios_prato_path, target: "_blank", class: "btn btn-primary" %>
			<%= link_to "Familiar", relatorios_familiar_path, target: "_blank", class: "btn btn-primary" %>
		</div>
	</div>
</section>
