<section>
	<div class="row">
		<div class="col-sm-7 col-12 ml-auto mr-auto">
			<div class="card t-10 p-2 py-3 bg-success text-white">
				<div class="card-head row no-gutters">
					<div class="col">
						<h1 class="text-center">Próximo Jogo</h1>
					</div>
				</div>
				<div class="card-body row no-gutters bg-white text-dark">
					<div class="col-sm-5 col-12 text-left align-self-center">
						<!-- <h3>ADE</h3> -->
					</div>

					<div class="offset-5 offset-sm-0 col-2 vs text-center align-self-center">
						<h3><i class="fas fa-times"></i></h3>
					</div>

					<div class="col-sm-5 col-12 text-right align-self-center">
					</div>
				</div>
				<div class="card-footer row no-gutters">
					<div class="col-sm-6 col-12 text-left">
						<!-- <h5>16:00</h5> -->
					</div>

					<div class="col-sm-6 col-12 text-right">
						<!-- <h5>Local: Campo do Clube</h5> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
