<section> 
  <div class="row">
    <div class="col-12 form-associado px-5">
      <div class="row mb-5 bg-gray b-2 b-success br-5 list-agenda mt-3">
        <h3 class="btn btn-block btn-success btn-table btn-lg mt-0 mb-0 text-center">
	        <b>Agenda Telefônica</b>
        </h3>
  			<% @associados.each do |associado| %>
    			<div class="row no-gutters col-12 pt-2 mb-0 br-blr-4 bb-1 b-success br-0">
		      	<div class="col-5">
		      		<h5><%= associado.nome %></h5>
		      	</div>

		      	<div class="col-5">
		      		<h5><%= associado.email %></h5>
		      	</div>

		      	<div class="col-auto ml-auto">
		      		<h5><%= associado.telefone %></h5>
		      	</div>
		      </div>
      	<% end %>
		  </div>
    </div>
  </div>
</section>
