<section> 
  <div class="row">
    <div class="col-12 form-associado px-5">
      <h1 class="text-center text-success">
        Agenda Telefônica
      </h1>
      <hr>

      <div class="row mb-5 bg-gray b-2 b-success br-5 list-agenda">
	      <h3 class="btn btn-block btn-success btn-table btn-lg mt-0 mb-0">
	        A
	      </h3>

		    <div class="row no-gutters col-12 pt-2 mb-0 br-blr-4 bb-1 b-success br-0">
	      	<div class="col-5">
	      		<h5>Alex</h5>
	      	</div>

	      	<div class="col-5">
	      		<h5>email@gmail.com</h5>
	      	</div>

	      	<div class="col-auto ml-auto">
	      		<h5>(48) 91234-5678</h5>
	      	</div>
	      </div>
	    </div>
    </div>
  </div>
</section>
