<p class="text-center">
	<b class="h3">Pratos preferidos</b>
</p>

<div class="tabela-padrao">
	<button onclick="imprimir()">Imprimir</button>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Quantidade</th>
		</tr>

		<% @pratos.each do |a| %>
			<% if a[1] != 0 and a[1] != "" %>
				<tr>
					<td><%= a[0] %></td>
					<td><%= a[1] %></td>
				</tr>
				<% end %>
		<% end %>
	</table>
</div>

<div class="imprimir">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Quantidade</th>
		</tr>

		<% @pratos.each do |a| %>
			<% if a[1] != 0 and a[1] != "" %>
				<tr>
					<td><%= a[0] %></td>
					<td><%= a[1] %></td>
				</tr>
				<% end %>
		<% end %>
	</table>
</div>
