<section>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-stripped">
        <thead>
          <tr>
            <%= link_to new_clube_path, class: "btn btn-success btn-block btn-lg btn-table" do %>
              <i class="fas fa-plus"></i> Incluir Novo Clube
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @clubes.each do |clube| %>
            <tr class="row no-gutters">
              <td class="col-xl-10 col-sm-8 col-5">
                <%= link_to clube.nome, clube %>
              </td>

              <td class="col-auto ml-auto">
                <%= link_to 'Editar', edit_clube_path(clube), class: "btn btn-outline-success btn-sm" %>
              </td>
              
              <td class="col-auto">
                <%= link_to 'Apagar', clube, method: :delete, data: { confirm: 'Realmente deseja apagar?' }, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
