<section>	
	<div class="row">
		<div class="col-12 form-associado py-2">
			<h1 class="text-success">Parente de <%= @associado.nome %></h1>
			<%= render 'form', parente: @parente %>
		</div>
	</div>
</section>


